<footer>
    <ul>
        <li>&COPY;2019</li>
        <li>Smithsonian</li>
        <li>National Geographic</li>
        <li><a href="https://landbeforetime.fandom.com/wiki/Land_Before_Time_Wiki">Land Before Time Wiki</a></li>
    </ul>
</footer>
</body>

</html>