body {
    background-color: lightgreen;
}

nav > ul {
    display: flex;
}

nav a {
    display: block;
    padding: 1em;
    margin: .5em;
    border: 1px solid green;
}

ul {
    list-style-type: none;
}

footer > ul {
    display: flex;
}

footer > ul > li {
    padding: 1em;
}