<% include ../partials/header.ejs %>

<form method="POST" action="/dinosaurs">
    <input type="text" name="name" placeholder="Dino type..."><br>
    <input type="text" name="type" placeholder="Dino name..."><br>
    <input type="submit">
</form>

<% include ../partials/footer.ejs %>