<% include ../partials/header.ejs %>
<p>Dino number: <%= dinoNum %> </p>
<p>Dino name: <%= myDino.name %></p>
<p> Dino type: <%= myDino.type %></p>
<input type="num" method="GET" action="dinos/">


<% include ../partials/footer.ejs %>